---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills" class="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<ul class="skill-list">
			<li><strong>React.js:</strong> Desarrollo de páginas web dinámicas con React.js, uso de componentes reutilizables y manejo del estado de la aplicación.</li>
			<li><strong>Angular:</strong> Desarrollo de aplicaciones web eficientes y escalables con Angular.</li>
			<li><strong>Docker:</strong> Creación y administración de contenedores Docker para el despliegue y gestión de aplicaciones.</li>
			<li><strong>WordPress:</strong> Desarrollo y mantenimiento de tiendas en línea con WordPress, incluyendo la creación de e-commerce y personalización de temas.</li>
			<li><strong>Astro:</strong> Creación de landing pages y sitios web modernos utilizando Astro para un rendimiento optimizado.</li>
		</ul>
	</div>
</section>
